.hero {
    background: url("https://images.unsplash.com/photo-1532595651976-8376d3a7679b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60") no-repeat center center;
    background-size: cover;
    height: 750px;
    width: 100%;    
}

  /* .myName {
    overflow: hidden;
    border-right: .15em solid white;
    white-space: nowrap; */
    /* letter-spacing: .15em; */
    /* margin-top: 100px;
    margin-right: 40px;
    font-size: 65px;
    font-family: 'Lobster', cursive;
    text-align: center;
    color: aliceblue;
     animation: type 3.5s steps(16, end),
    blink-caret .75s step-end infinite;  */
/* } */

h2, .myTitle {
    visibility: hidden;
    overflow: hidden;
    font-family: 'Cardo', serif;
    font-size: 40px;
    text-align: center;
    color: aliceblue;
    margin: 0 auto;
    white-space: nowrap;
    border-right: .15em solid transparent;
    animation: typing2 3.5s steps(23, end),
    blinking-cursor 3.75s;
    animation-delay: 3.5s;
    animation-fill-mode: forwards;
    
    /* animation: typing2 3.5s steps(21, end); */
   
    /* margin-left: 275px; */
}

.myCert {
    text-align: right;
    color: aliceblue;
    /* margin-left: 600px; */
    visibility: hidden;
    overflow: hidden;
    font-family: 'Questrial', sans-serif;
    color: aliceblue;
    margin: 0 525px 0 auto;
    white-space: nowrap;
    border-right: .15em solid transparent;
    animation: typing2 3.5s steps(15, end),
    blinking-cursor 1s;
    animation-delay: 6.75s;
    animation-fill-mode: forwards;
    
}
.myName {
    color: #f0f8ff;
    font-family: 'Cardo', serif;
    font-size: 70px;
    padding-bottom: 10px;
    /* letter-spacing: .10em; */
    margin: 100px auto 0px 500px;
    overflow: hidden;
    white-space: nowrap;
    border-right: .15em solid transparent;
    animation: typing 3.5s steps(16, end),
    blinking-cursor 3.75s;
    
    /* -webkit-transition-timing-function: ease-in-out; */
}
@keyframes typing {
    from { width: 0}
    to { width: 42% }
  }
  @keyframes typing2 {
    from {width: 0}
    to { visibility: visible;
        width: 42% }
  }
  @keyframes blinking-cursor {
    from, to { border-color: transparent }
    50% { border-color:orchid; }
  } 